.title {
  font-size: var(--mantine-font-size-xl);
  font-weight: 600;
  text-transform: lowercase;
}
.title::first-letter {
  text-transform: uppercase;
}
.subtitle {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-6);
  margin-top: var(--mantine-spacing-xs);
  text-transform: lowercase;
}
.subtitle::first-letter {
  text-transform: uppercase;
}
.content {
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-lg);
}
.header {
  padding: var(--mantine-spacing-md);
}
.body {
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}
.close {
  box-shadow: var(--mantine-shadow-md);
}
